
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
      // mobile screen

    @media screen and (min-width: $mobile ){
        width:$mobile ;
    }
        // tablet screen

    @media screen and (min-width: $tablet ) {
    width: $tablet;
}
    
    // desctop screen
    
    @media screen and (min-width: $desktop )
    {
       width: $desktop; 
    }
   
}