.section--decoration {
  background-color: var(--background-hero-footer);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  // mobile screen
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and(min-width:$desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
  // mobile screen
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/w/heder/img_480-1.jpg);

  // mobile screen retina

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/w/heder/img_960-1.jpg);
  }
  @media screen and(min-width: 481px) {
    // tablet screen
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/w/heder/img_768-2.jpg);

    // tablet screen retina

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/w/heder/img_1536-2.jpg);
    }
  }
  // desktop screen
  @media screen and(min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/w/heder/Img_1600-3.jpg);

    // desktop screen retina

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/w/heder/Img_3200-3.jpg);
    }
  }
}
